name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  unit-test:
    name: Unit Testing
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with: 
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: Unit Test
        run: npm test 

  lint:
    name: Linting
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with: 
          node-version: 20

      - name: Install Dependencies
        run: npm ci

      - name: RUN ESLint 
        run: npm run lint
  
  secrets:
    name: Secret Scanning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Gitleaks
        uses: gitleaks/gitleaks-action@v2

